<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\EskerInvIntegration_Log\Log\"/>

    <add key="Server" value="RND\MSSQLSERVER2019" />
    <add key="CommonDb" value="FT_EskerIntegration_COMMON" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="Phan921381!" />
  </appSettings>
</configuration>